<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="islander.jeju" version="0.9.1">
  <name>Islander Jeju</name>
  <description/>
  <author/>
  <access origin="*"/>
  <content src="index.html"/>
  <preference name="loglevel" value="DEBUG"/>
  <preference name="AndroidLaunchMode" value="singleTop"/>
  <preference name="BackgroundColor" value="0xffffffff"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="ErrorUrl" value=""/>
  <preference name="Fullscreen" value="false"/>
  <preference name="KeepRunning" value="true"/>
  <preference name="monaca:WebViewEngine" value="default"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="1000"/>
  <preference name="Orientation" value="portrait"/>
  <preference name="monaca:DisableCookie" value="false"/>
  <preference name="monaca:AndroidIsPackageNameSeparate" value="false"/>
  <preference name="AllowInlineMediaPlayback" value="false"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="BackupWebStorage" value="cloud"/>
  <preference name="EnableViewportScale" value="false"/>
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="250"/>
  <preference name="KeyboardDisplayRequiresUserAction" value="true"/>
  <preference name="MediaPlaybackRequiresUserAction" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="SuppressesIncrementalRendering" value="false"/>
  <preference name="TopActivityIndicator" value="gray"/>
  <preference name="GapBetweenPages" value="0"/>
  <preference name="PageLength" value="0"/>
  <preference name="PaginationBreakingMode" value="page"/>
  <preference name="PaginationMode" value="unpaginated"/>
  <preference name="ios-XCBuildConfiguration-TARGETED_DEVICE_FAMILY" value="1,2"/>
  <feature name="App">
    <param name="android-package" value="org.apache.cordova.App"/>
  </feature>
  <feature name="LocalStorage">
    <param name="ios-package" value="CDVLocalStorage"/>
  </feature>
  <platform name="ios">
    <icon src="/res/ios/icon/icon.png" width="57" height="57"/>
    <icon src="/res/ios/icon/icon@2x.png" width="114" height="114"/>
    <icon src="/res/ios/icon/icon-72.png" width="72" height="72"/>
    <icon src="/res/ios/icon/icon-72@2x.png" width="144" height="144"/>
    <icon src="/res/ios/icon/icon-60.png" width="60" height="60"/>
    <icon src="/res/ios/icon/icon-60@2x.png" width="120" height="120"/>
    <icon src="/res/ios/icon/icon-60@3x.png" width="180" height="180"/>
    <icon src="/res/ios/icon/icon-76.png" width="76" height="76"/>
    <icon src="/res/ios/icon/icon-76@2x.png" width="152" height="152"/>
    <icon src="/res/ios/icon/icon-40.png" width="40" height="40"/>
    <icon src="/res/ios/icon/icon-40@2x.png" width="80" height="80"/>
    <icon src="/res/ios/icon/icon-50.png" width="50" height="50"/>
    <icon src="/res/ios/icon/icon-50@2x.png" width="100" height="100"/>
    <icon src="/res/ios/icon/icon-small.png" width="29" height="29"/>
    <icon src="/res/ios/icon/icon-small@2x.png" width="58" height="58"/>
    <icon src="/res/ios/icon/icon-small@3x.png" width="87" height="87"/>
    <icon src="/res/ios/icon/icon-83.5@2x~ipad.png" width="167" height="167"/>
    <icon src="/res/ios/icon/icon-1024.png" width="1024" height="1024"/>
    <splash src="/res/ios/screen/Default@2x~universal~anyany.png"/>
    <config-file platform="ios" parent="CFBundleLocalizations" target="*-Info.plist">
      <array>
        <string>en</string>
        <string>kr</string>
      </array>
    </config-file>
    <preference name="orientation" value="portrait" />
  </platform>
  <platform name="android">
    <icon src="/res/android/icon/ldpi.png" density="ldpi"/>
    <icon src="/res/android/icon/mdpi.png" density="mdpi"/>
    <icon src="/res/android/icon/hdpi.png" density="hdpi"/>
    <icon src="/res/android/icon/xhdpi.png" density="xhdpi"/>
    <icon src="/res/android/icon/xxhdpi.png" density="xxhdpi"/>
    <icon src="/res/android/icon/xxxhdpi.png" density="xxxhdpi"/>
    <splash qualifier="land-ldpi" src="/res/android/screen/drawable-land-ldpi-screen.png" />
    <splash qualifier="land-mdpi" src="/res/android/screen/drawable-land-mdpi-screen.png" />
    <splash qualifier="land-hdpi" src="/res/android/screen/drawable-land-hdpi-screen.png" />
    <splash qualifier="land-xhdpi" src="/res/android/screen/drawable-land-xhdpi-screen.png" />
    <splash qualifier="land-xxhdpi" src="/res/android/screen/drawable-land-xxhdpi-screen.png" />
    <splash qualifier="land-xxxhdpi" src="/res/android/screen/drawable-land-xxxhdpi-screen.png" />
    <splash qualifier="port-ldpi" src="/res/android/screen/drawable-port-ldpi-screen.png" />
    <splash qualifier="port-mdpi" src="/res/android/screen/drawable-port-mdpi-screen.png" />
    <splash qualifier="port-hdpi" src="/res/android/screen/drawable-port-hdpi-screen.png" />
    <splash qualifier="port-xhdpi" src="/res/android/screen/drawable-port-xhdpi-screen.png" />
    <splash qualifier="port-xxhdpi" src="/res/android/screen/drawable-port-xxhdpi-screen.png" />
    <splash qualifier="port-xxxhdpi" src="/res/android/screen/drawable-port-xxxhdpi-screen.png" />
  </platform>
  <platform name="windows">
    <icon src="/res/winrt/icon/package_logo_winrt.png" target="StoreLogo"/>
    <icon src="/res/winrt/icon/app_logo_winrt.png" target="Square150x150Logo"/>
    <icon src="/res/winrt/icon/app_small_logo_winrt.png" target="Square30x30Logo"/>
    <icon src="/res/winrt/icon/app_tile_wide_logo_winrt.png" target="Wide315x150Logo"/>
    <splash src="/res/winrt/screen/app_splash_screen_winrt.png" width="620" height="300"/>
  </platform>
  <platform name="chrome">
    <icon src="/platforms/chrome/icon.png" width="128" height="128"/>
  </platform>
</widget>
